@import '~@angular/material/theming';
@import '../../styles.scss';

:host {
  display: block;  
  width: 360px;
  overflow-x: hidden;
  
  @include maxVH(48px);
}

.selected {
  background-color: mat-color($mat-accent, lighter);
}

.search-field {
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 2;
  width: 100%;
}