@import '~flag-icon-css/css/flag-icon.min.css';

:host {
  display: inline-flex;
}

div {
}

#code {
  font-family: 'Courier New';
}

.missing-code {
  background-image: url('../../assets/Pirate_Flag.svg');
}
