<div id="container" fxLayout="column">
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <span id="apptitle">Tiny Translator</span>
      <a mat-stroked-button disabled>Angular 7</a>

      <a mat-icon-button routerLink="/home" routerLinkActive="active"><mat-icon>home</mat-icon></a>
      <a mat-raised-button color="accent" routerLink="/editproject" routerLinkActive="active" matTooltip="Details of the project (click to open)" i18n-matTooltip>
        <mat-icon>edit</mat-icon>
        <span>{{ currentProjectName() | abbreviate: 30 }}</span>
      </a>

      <a mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>more_horiz</mat-icon>
      </a>

      <!-- main menu -->
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="save()" matTooltip="export current translation state to file (download)" i18n-matTooltip>
          <mat-icon>save</mat-icon>
          <span i18n>Save..</span>
        </button>
        <button mat-menu-item (click)="configureAutoTranslate()" matTooltip="configure Google Translate API Key" i18n-matTooltip>
          <mat-icon>settings</mat-icon>
          <span i18n>Google Translate settings..</span>
        </button>
        <button mat-menu-item (click)="autoTranslate()" matTooltip="Translate all untranslated units with Google Translate" i18n-matTooltip>
          <mat-icon>g_translate</mat-icon>
          <span i18n>Google Translate units..</span>
        </button>
        <button mat-menu-item (click)="navigateToAutoTranslateSummary()" matTooltip="Open summary page of last autotranslate run" i18n-matTooltip>
          <mat-icon>g_translate</mat-icon>
          <span i18n>Last results..</span>
        </button>
      </mat-menu>
      <span class="toolbar-spacer"> </span>
    </mat-toolbar-row>
  </mat-toolbar>

  <div id="main" fxFlex="1 1 auto" fxLayout="column" fxLayoutAlign="start start">
    <router-outlet></router-outlet>
  </div>
  <div id="footer">
    v<span id="buildversion">{{ buildversion() }}</span>
  </div>
</div>
