@import '~@angular/material/theming';

@import '../styles.scss';

mat-toolbar .mat-toolbar-layout mat-toolbar-row {
  flex-direction: column;
  align-content: flex-start;
  align-items: flex-start;
  min-height: 40px;
}

.toolbar-spacer {
  flex: 1 1 auto;
}


.content {
  margin-top: 40px;
}

#container {
  min-height: 100vh;
 
  overflow-y: hidden;
}

#header {
}

#main {
  overflow: auto;
  margin: 8px;
  @include maxVH();

  max-width: 1600px;
  min-width: 300px;
  margin: 0 auto;
}

#footer {
  background-color: mat-color($mat-primary, darker);
  height: 20px;
  padding: 4px;
  box-sizing: border-box;
  font-size: mat-font-size($fontConfig, body-1);
}