<div fxLayout="row">
  <mat-tab-group animationDuration="0ms" [selectedIndex]="selectedTab" (selectedIndexChange)="filterChanged($event)">
    <mat-tab *ngFor="let tab of tabs; index as i" label="{{ tabNames[i] }}"></mat-tab>
  </mat-tab-group>
</div>
<div fxLayout="row"></div>
<div fxLayout="row">
  <app-translate-unit-list [filterBy]="tabs[selectedTab]" [translationFileView]="currentView()" (changeTranslationUnit)="onChangeTranslationUnit($event)"></app-translate-unit-list>
  <div id="transunit" fxLayout="column">
    <app-filter-status fxHide.gt-sm [translationFileView]="currentView()"></app-filter-status>
    <app-project-status fxHide.lt-md [project]="currentProject()" (onSave)="save()"></app-project-status>
    <app-translate-unit
      [translationFileView]="currentView()"
      [translationUnit]="currentTranslationUnit()"
      [workflowType]="currentProject()?.workflowType"
      [reviewMode]="isInReviewMode()"
      (changed)="commitChanges($event)"
    ></app-translate-unit>
  </div>
</div>
